ML_PORT=3004
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001
LONGCAT_API_KEY=ak_2B74Ft2Mz7Ln8Vj8Ck2rD5Is6aC7X
GROQ_API_KEY=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

